
body {
  font-family: "游ゴシック", YuGothic, Verdana, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.header{
    z-index: 50;
    position: fixed;
    top:10%;
    right:20px;
    writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode:vertical-rl;
    text-orientation: sideways;
    display: none;
    height: 100%;
    text-shadow: 0px 0px 1px #242424;
    font-size:14px;
}

.header ul li a{
    color: #ffff;
    font-family: 'Rasa', serif;
}
.header ul li{
    display: inline-block;
    color: #ffff;
    margin-bottom: 5px;
    font-size: 14px;
    letter-spacing: 1.2px;
}
.header__contact{
    background-color: #000000;
    padding: 5px;
    font-family: 'Rasa', serif;
}

.menu{
	position: absolute;
	right:-242px;
	top:50%;
	-moz-transform:translateY(-50%) rotate(90deg);
	-ms-transform:translateY(-50%) rotate(90deg);
	-webkit-transform:translateY(-50%) rotate(90deg);
	transform:translateY(-50%) rotate(90deg);
}

.menu ul{
	-js-display: flex;
	display:flex;
	display:-webkit-box;
	display:-ms-flexbox;
	display: -webkit-flex;
	-webkit-box-align:center;
	-ms-flex-align:center;
	-webkit-align-items:center;
	align-items:center;
/*
    width: 100%;
    text-align: center;
*/
}
.menu ul li{
  display: inline-block;
	margin: 0 10px;
  font-size: 15px;
}
.menu a{
    color: #ffff;
    font-family: 'Rasa', serif;
    letter-spacing: 1.3px;
    line-height: 1;
}

#top{
    background-color: #968686;
    height: 100vh;
		min-height: 700px;
    z-index: 0;
    position: relative;
}

.top__main{
	position: absolute;
	left: 50%;
	top:50%;
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.top__main_title{
	font-size: 80px;
	font-family: 'Rasa', serif;
	color: #fff;
	margin: 0 0 20px;
	text-align: center;
	letter-spacing: 6px;
	line-height: 1;
}

.top__title{
	display: block;
	width: 70%;
	margin: 0 auto 40px;
}
.top__title img{
	display: block;
	width: 100%;
}

.top__logo{
  -js-display: flex;
  display:flex;
  display:-webkit-box;
  display:-ms-flexbox;
  display: -webkit-flex;
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  -webkit-justify-content:center;
  justify-content:center;
  -webkit-box-align:center;
  -ms-flex-align:center;
  -webkit-align-items:center;
  align-items:center;
}

.top__logo a{
	width: 110px;
	display: block;
	margin: 0 20px 0 0;
}

.top__logo img{
	display: block;
  width: 100%;
}

#event{
    margin-top: 10%;
}

.h2__title{
  writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode:vertical-rl;
  text-orientation: sideways;
  font-size: 60px;
  float: left;
  width: 20%;
  font-family: 'Rasa', serif;
  letter-spacing: 7px;
}

#bg-video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 700px;
  height: 100vh; 
 /* background: url('../../../static/sevenevent/img/sample_pic.jpg') no-repeat;*/
  background-size: cover;
}

.block{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.block img{
    width: 100%;
}

.event__img{
    width: 45%;
    float: left;
}

.event__img_pic{
	display: block;
	width: 100%;
	height: 220px;
}

.event__block__contents2{
    clear: both;
    padding-top: 10%;
}

.event__img2{
    width: 40%;
    margin-top: 20%;
}
.event__content{
    padding-left: 50%;
}
.event__content1{
    display: flex;
    justify-content: space-between;
}

.event__content2{
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 20px;
    line-height: 25px;

}

.event__content3{
    font-size: 13px;
    line-height: 20px;


}
.day{
    font-size: 30px;
    padding-top: 15px;
    font-weight: bold;
}

.well__icon{
    background-color: black;
    color: white;
    border:solid 2px;
    height: 50px;
    width: 50px;
    text-align: center;
    vertical-align: middle;
    padding-top: 15px;
}

.kikka__icon{
    background-color: white;
    color: black;
    border:solid 2px;
    height: 50px;
    width: 50px;
    text-align: center;
    vertical-align: middle;
    padding-top: 15px;
    font-size: 15px;
}


.well_event_icon{
  background: black;
  color: #fff;
}

.kikka_event_icon{
  background: #fff;
  color: black;
}

@media only screen and (max-width: 450px){
  .kikka__icon{
    margin-right: 60%;
  }
}

#finished{
    margin-top: 10%;
    background-color: #EFEFEF;
    padding-top: 5%;
    overflow: auto;
    padding-bottom: 5%;
}
.finished__title{
    clear: both;
    writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode:vertical-rl;
    text-orientation: sideways;
    font-size: 30px;
    float: left;
    width: 20%;
    height: 265px;
    font-family: 'Rasa', serif;
		letter-spacing: 2px;
}

.finished__block{
	width: 50%;
	margin: 0 25%;
}

.finished__list{
	-js-display: flex;
	display:flex;
	display:-webkit-box;
	display:-ms-flexbox;
	display: -webkit-flex;
	-webkit-box-pack:justify;
	-ms-flex-pack:justify;
	-webkit-justify-content:space-between;
	justify-content:space-between;
	flex-wrap:wrap;
	-webkit-flex-wrap:wrap;
	-moz-flex-wrap:wrap;
	-ms-flex-wrap:wrap;
}

.finished__contents{
	width: 48%;
	margin: 0 0 50px;
	position: relative;
}

.finished__pic_list{
	width: 100%;
}

.finished__pic_item{
	width: 100%;
}

.finished__pic_link{
	display: block;
	width: 100%;
	height: 220px;
	margin: 0 0 15px;
}

.finished__link{
	text-decoration: none;
	display: block;
}

.finished__contents_title{
	height: 60px;
	font-size: 16px;
	font-weight: bold;
	line-height: 1.7;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	border-bottom: 1px #000 solid;
	margin: 0 0 15px;
	font-family: "游ゴシック", YuGothic, Verdana, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}

.finished__contents_text{
	font-size: 12px;
	color: #000;
	line-height: 1.5;
	font-family: "游ゴシック", YuGothic, Verdana, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}



/*
.block2{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.finished__block{
    width: 90%;
}
.finished__block__block{
    width: 95%;
    margin-right: 5%;
    position: relative;
    z-index: 1;
    padding-top: 10%;
}

.finished__block__block h3{
    padding-top: 5%;
    padding-bottom: 5%;
    line-height: 25px;
    font-size: 18px;
}

.finished__border{
    border-top: solid 1px;
    margin-bottom: 5%;
}

.finished__content{
    font-size: 12px;
    line-height: 15px;
}
*/

.well{
    background-color: black;
    color: white;
    border:solid 2px;
    height: 50px;
    width: 50px;
    text-align: center;
    vertical-align: middle;
    padding-top: 15px;
    z-index: 2;
    position: absolute;
    right:-15px;
    top:-15px;
    font-size: 15px;
}

.kikka{
    background-color: white;
    color: black;
    border:solid 2px;
        height: 50px;
    width: 50px;
    text-align: center;
    vertical-align: middle;
    padding-top: 15px;
    z-index: 2;
    position: absolute;
    right:-15px;
    top:-15px;
}

/*
.block2 img{
    width: 100%;
}
*/

#space{
    clear: both;
    margin-top: 5%;
    padding-bottom: 5%;
}
#space img{
    width: 130%;
}
.space__slider2{
    width: 100%;
}
.space__left{
    width: 50%;
    margin-top: 5%;
}

.space__left h3{
    font-size: 18px;
    line-height: 22px;
}
.space__left__content1{
    margin-top: 5%;
    line-height: 15px;
    font-size: 12px;
}
.space__left__content2{
    margin-top: 10%;
}
.space__left__content2 ul li{
 display: inline-block;
 font-size: 12px;
 line-height: 15px;
}
.space__left__content2 ul li:before{
    content:"・";
}
.space__right{
    width: 50%;
    margin-top: 5%;
}

.flex{
    display: flex;
}
#system{
    clear: both;
    background-color:  #EFEFEF;
    padding-bottom: 10%;
    padding-top: 5%;

}

#system img{
    width: 100%;
}
.tabblock{
    width: 50%;
    margin-left: 25%;
}
.tabs {
  margin-top: 12px;
  width: 50%;
  margin-left: 25%;
  position: relative;
}

 .margin{
    margin-top: 10%;
 }


 .tabs2{
     margin-top: 12px;
     width: 50%;
     margin-left: 25%;
     margin-right: 25%;
     position: relative;
 }

/* タブのスタイル */
.tabs2 .tab2-label {
  display: inline-block;
  border: 2px solid #000;
  background-color: #808080;
  margin: 0 1px;
  color: #ffff;
   writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode:vertical-rl;
    text-orientation: sideways;
    position: absolute;
    right: -14px;
    font-size: 15px;
    padding: 5% 2%;
    border-radius: 0 10px 10px 0;
		height: 100px;
		text-align: center;

}
 
/* タブにマウスカーソルがのったときフッター */
.tabs2 .tab2-label:hover {
  opacity: 0.7;
}
 
/* ラジオボタンと内容を非表示 */
.tabs2 input[name="tab2-radio"],
.tabs2 .tab2-content {
  display: none;
}
 
/* タブ内容のスタイル */
.tabs2 .tabs-content{
  border: 1px solid #999;
  padding: 10px;
  min-height: 200px;
}
 
/* 選択されているタブのコンテンツのみを表示 */
.tabs2 #tab2-1:checked ~ .tab2-1-content,
.tabs2 #tab2-2:checked ~ .tab2-2-content,
.tabs2 #tab2-3:checked ~ .tab2-3-content,
.tabs2 #tab2-4:checked ~ .tab2-4-content,
.tabs2 #tab2-5:checked ~ .tab2-5-content {
  display: block;
}

 
/* 選択されているタブのスタイルを変える */
.tabs2 input[name="tab2-radio"]:checked + .tab2-label {
  background-color: #FF7F50;
    color: black;

}


.tabs2 input[name="tab2-radio"]:checked + .tab2-label2{
  background-color: #006400;
    color: black;

}

.tab2{
	top:110px;
}
.tab3{
    top:20%;

}

/* タブのスタイル */
.tabs .tab-label {
  display: inline-block;
  border: 2px solid #000;
  background-color: #808080;
  margin: 0 1px;
  color: #ffff;
   writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode:vertical-rl;
    text-orientation: sideways;
    position: absolute;
    right: -14px;
    font-size: 15px;
    padding: 5% 2%;
    border-radius: 0 10px 10px 0;
		height: 100px;
		text-align: center;
}

/* タブにマウスカーソルがのったときフッター */
.tabs .tab-label:hover {
  opacity: 0.7;
}
 
/* ラジオボタンと内容を非表示 */
.tabs input[name="tab-radio"],
.tabs .tab-content {
  display: none;
}
 
/* タブ内容のスタイル */
.tabs .tab-content{
  min-height: 200px;
  width: 100%;
}
 
/* 選択されているタブのコンテンツのみを表示 */
.tabs #tab-1:checked ~ .tab-1-content,
.tabs #tab-2:checked ~ .tab-2-content,
.tabs #tab-3:checked ~ .tab-3-content,
.tabs #tab-4:checked ~ .tab-4-content,
.tabs #tab-5:checked ~ .tab-5-content {
  display: block;
}

 
/* 選択されているタブのスタイルを変える */
.tabs input[name="tab-radio"]:checked + .tab-label {
  background-color: #FF7F50;
  color: black;
}

.reserve{
    width: 32%;
    text-align: center;
    margin-right: 35%;
    margin-left: 35%;
    padding-top: 2%;
    padding-bottom:2%;
    padding-right: 2%;
    padding-left: 2%;
    background-color: #000000;
    border-radius: 10px;
    margin-top: 5%;
    color: white;
}
.reserve p{
    color: white;
}

#cafe{
    clear: both;
    padding-top: 5%;
    background-image: url(../img/bg_wellcafe.jpg);
    background-size: cover;
    width: 100%;
    padding-bottom: 5%;
}

@media only screen and (max-width: 800px){
  #cafe{
    background: url(../img/bg_wellcafe.jpg) right center no-repeat;
    background-size: cover;
  }

}

.space__slider{
    width: 100%;
}

.space__slider_pic{
  width: 100%;
  height: 350px;
}


.space__slider_pic1{
	width: 100%;
	height: 350px;
    background: url(../../../static/sevenevent/img/mocihkomi0305.jpeg) center center no-repeat;
    background-size: 100% 350px;
}
.space__slider_pic2{
	width: 100%;
	height: 350px;
    background: url(../../../static/sevenevent/img/mocihkomi03052.jpeg) center center no-repeat;
    background-size: 100% 350px;
}
.space__slider_pic3{
	width: 100%;
	height: 350px;
    background: url(../../../static/sevenevent/img/mocihkomi03053.jpeg) center center no-repeat;
    background-size: 100% 350px;
}
.space__slider_pic4{
	width: 100%;
	height: 350px;
    background: url(../../../static/sevenevent/img/mocihkomi03054.jpeg) center center no-repeat;
    background-size: 100% 350px;
}

.space__slider_pic_kikka1{
    background: url(../../../static/sevenevent/img/KIKKA_event0304_13.png) center center no-repeat;
    width: 100%;
    height: 350px;
    background-size: 100% 400px;
}

.space__slider_pic_kikka2{ 
    background: url(../../../static/sevenevent/img/KIKKA_event0304_14.png) center center no-repeat;
    width: 100%;
    height: 350px;
    background-size: 100% 400px;
}

.space__slider_pic_kikka3{
    background: url(../../../static/sevenevent/img/KIKKA_event0304_15.png) center center no-repeat;
    width: 100%;
    height: 350px;
    background-size: 100% 400px;
}

.space__slider_pic_kikka4{
    background: url(../../../static/sevenevent/img/KIKKA_event0304_16.png) center center no-repeat;
    width: 100%;
    height: 350px;
    background-size: 100% 400px;
}

@media only screen and (max-width: 800px){


    .space__slider_pic1{
      background: url(../../sevenevent/img/SYSTEM_well_sp1.png) center center no-repeat; 
      height: 515px;
      background-size: 375px 515px;
    }


    .space__slider_pic2{
      background: url(../../sevenevent/img/SYSTEM_well_sp2.png) center center no-repeat; 
      height: 515px;
    }


    .space__slider_pic3{
      background: url(../../sevenevent/img/SYSTEM_well_sp3.png) center center no-repeat; 
      height: 515px;
    }


    .space__slider_pic4{
      background: url(../../sevenevent/img/SYSTEM_well_sp4.png) center center no-repeat; 
      height: 515px;
    }
    
    .space__slider_pic_kikka1{ 
      background: url(../../sevenevent/img/SYSTEM_KIKKA_sp1.jpg) center center no-repeat; 
      height: 515px;
      background-size: 330px 530px;
    }

    .space__slider_pic_kikka2{
      background: url(../../sevenevent/img/SYSTEM_KIKKA_sp2.jpg) center center no-repeat; 
      height: 515px;
      background-size: 330px 530px;
    }

    .space__slider_pic_kikka3{
      background: url(../../sevenevent/img/SYSTEM_KIKKA_sp3.jpg) center center no-repeat; 
      height: 515px;
      background-size: 330px 530px;
    }

    .space__slider_pic_kikka4{
      background: url(../../sevenevent/img/SYSTEM_KIKKA_sp4.jpg) center center no-repeat; 
      height: 515px;
      background-size: 330px 530px;
    }
}


.cafe__contents h3{
    padding-top: 10%;
    line-height: 25px;
    letter-spacing: 6px;
    padding-bottom: 10%;
}
.cafe__contents p{
    font-size: 12px;
    line-height: 20px;
}
.cafe__contents{
    width: 25%;
    margin-left: 25%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
    background-color:rgba(255,255,255,0.60);
}
.cafe__menu{
    margin-top: 15%;
    font-size: 12px;
    line-height: 20px;

}

.cafe__price{
    margin-top: 15%;
    font-size: 12px;
    line-height: 20px;
    margin-left: 20%;

}

.cafe__logo{
    -js-display: flex;
    display:flex;
    display:-webkit-box;
    display:-ms-flexbox;
    display: -webkit-flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    -webkit-align-items:center;
    align-items:center;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    -webkit-justify-content:space-between;
    justify-content:space-between;
    margin-top: 20%;
}

.cafe__logo_img{
	width: 120px;
}

.cafe__logo_insta{
	width: 35px;
}

.cafe__logo_insta img{
	display: block;
	width: 100%;
}

#access{
    background-color: #EFEFEF;
    padding-bottom: 5%;
    padding-top: 5%;
}

.access__block{
    width: 45%;
}
.access__contact{
    width: 64%;
    text-align: center;
    background-color: #000000;
    border-radius: 10px;
    color: white;
    margin-top: 5%;
    clear: both;
    font-family: 'Rasa', serif;
    letter-spacing: 2px;
    font-size: 20px;
		padding: 4% 5%;
		margin: 10% auto;
}
.access__logo{
    -js-display: flex;
    display:flex;
    display:-webkit-box;
    display:-ms-flexbox;
    display: -webkit-flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    -webkit-align-items:center;
    align-items:center;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    -webkit-justify-content:space-between;
    justify-content:space-between;
    margin-top: 10%;
    margin-bottom: 10%;
}
.access__logo .access__logo_img{
	display: block;
	max-width: 140px;
	width: calc( 100% - 75px );
}

/*
.access__logo img{
    width: 30%;
    height: 30%;
}
*/
.map{
  -js-display: flex;
  display:flex;
  display:-webkit-box;
  display:-ms-flexbox;
  display: -webkit-flex;
  -webkit-box-align:center;
  -ms-flex-align:center;
  -webkit-align-items:center;
  align-items:center;
}
.map .access__logo_insta{
	display: block;
	width: 30px;
	margin: 0 10px 0 0;
}
.map .access__logo_insta img{
	display: block;
	width: 100%;
}
.map .access__logo_map{
	display: block;
	width: 25px;
}
.map .access__logo_map img{
	display: block;
	width: 100%;
}
/*
.map img{
    width: 60%;
    height: auto;
}
*/
.access__logo2{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
    margin-bottom: 10%;
    justify-content: space-between;
    margin-top: 10%;
    margin-bottom: 10%;
}
.access__logo2 img{
    width: 50%;
    height: auto;
}
.map2{
        display: flex;

}
.map2 img{
    width: 60%;
}
.flex2{
    -js-display: flex;
    display:flex;
    display:-webkit-box;
    display:-ms-flexbox;
    display: -webkit-flex;
		-webkit-box-pack:justify;
		-ms-flex-pack:justify;
		-webkit-justify-content:space-between;
		justify-content:space-between;
}
.access__content h3{
    font-size: 15px;
    padding-bottom: 5%;
}

.access__content p{
    line-height: 20px;
    font-size: 12px;
}

.footer{
    background-color: #000000;
    color: #ffff;
    display: flex;
    justify-content: space-between;
    height: auto;
   padding: 5% 10px;
    -webkit-box-align:center;
    -ms-flex-align:center;
    -webkit-align-items:center;
    align-items:center;
}

.footer__left{
	font-size: 12px;
	letter-spacing: 1px;
/*     padding-left: 10%; */
/*     padding-top: 2%; */
}
.footer__right{
    -js-display: flex;
    display:flex;
    display:-webkit-box;
    display:-ms-flexbox;
    display: -webkit-flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    -webkit-align-items:center;
    align-items:center;
    -webkit-box-pack:end;
    -ms-flex-pack:end;
    -webkit-justify-content:flex-end;
    justify-content:flex-end;
}
.footer__right a{
	max-width: 140px;
	width: 30%;
	margin: 0 10px;
}
.footer img{
    width: 100%;
}
.slick-next {
    right: 15px !important;
}
.slick-prev {
    left: 15px !important;
    z-index: 10;
}
#nav-drawer {
  position: fixed;
  width: 20%;
  top:10px;
  left: 10px;
  z-index: 20;
}

/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}

/*アイコンのスペース*/
#nav-open {
  display: none;
  width: 50px;
  height: 50px;
  vertical-align: middle;
  text-align: right;
  background: rgba(0,0,0,.5);
  padding: 13px 0 0;
}

/*ハンバーガーアイコンをCSSだけで表現*/
#nav-open span, #nav-open span:before, #nav-open span:after {
  position: relative;
  height: 3px;/*線の太さ*/
  width: 30px;/*長さ*/
  border-radius: 3px;
  background: #fff;
  display: block;
  content: '';
  cursor: pointer;
  margin: 0 auto;
}
#nav-open span:before {
  bottom: -10px;
}
#nav-open span:after {
  bottom: -17px;
}

/*閉じる用の薄黒カバー*/
#nav-close {
  display: none;/*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;/*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}

/*中身*/
#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;/*最前面に*/
  width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 330px;/*最大幅（調整してください）*/
  height: 100%;
  background: #fff;/*背景色*/
  transition: .3s ease-in-out;/*滑らかに表示*/
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);/*左に隠しておく*/
  background-color: #EFEFEF;
}
#nav-content ul{
    margin-top: 10%;
    text-align: center;
}
#nav-content h2{
    text-align: center;
    color: #968686;
    margin-top: 30px;
    font-size:30px;
    font-family: 'Rasa', serif;
    letter-spacing: 1.5px;
}
#nav-content li{
    padding: 5% 0;
    text-align: center;
    border-bottom: solid 2px #968686;
    width: 80%;
		margin: 0 auto;
		font-family: 'Rasa', serif;
		letter-spacing: 1.5px;
}
.close img{
    width: 10%;
    margin-left: 90%;
}
/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
  display: block;/*カバーを表示*/
  opacity: .5;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);/*中身を表示（右へスライド）*/
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}

.back1{
}



@media(max-width: 1000px){
    .menu{
        display: none;
    }
		#top{
			min-height: 350px;
		}
		.top__title{
			width: 90%;
		}
		.top__logo a{
			max-width: 100px;
			width: 30%;
			margin: 0 15px 0 0;
		}
		
    .flex{
        display: block;
    }
    .space__left{
        width: 100%;
    }
    .space__right{
        width: 50%;
        margin-right: 25%;
        margin-left:  25%;
    }
    .cafe__contents{
        width: 50%;
    }
    .cafe__menu {
        width: 40%;
        float: left;

    }
    .cafe__price{
        width: 50%;
         margin-left: 50%;
         padding-top: 15%;
    }
    .access__logo{
	    margin: 15px 0;
    }
    .access__content h3{
	    margin: 0 0 15px;
	    padding: 0;
    }
    .event__img{
	    float:none;    
	    width: 100%;
	    margin: 0 0 20px;
    }

    .event__content{
        padding-left: 0%; 
    }

}

@media(max-width: 960px){
	.flex2{
		flex-wrap:wrap;
		-webkit-flex-wrap:wrap;
		-moz-flex-wrap:wrap;
		-ms-flex-wrap:wrap;
	}
	.access__block{
		width: 100%;
		margin: 0 auto 20px;
	}
	.finished__contents{
		width: 100%;
		margin: 0 auto 30px;
	}
	.finished__contents_title{
		height: inherit;
		padding: 0 0 10px;
	}
}
@media(max-width: 600px){
	.top__main{
		width: 85%;
	}

    .h2__title{
        writing-mode: horizontal-tb;
        float: none;
        width: 90%;
        font-size: 30px;
        margin: 0 auto 20px;
    }

    .h2__title h2{
      font-size: 50px;
    }
    .event__img_pic{
	    height: 200px;
    }
    .finished__block{
	   	width: 90%;
	   	margin: 0 auto; 
    }
    .finished__title{
        writing-mode: horizontal-tb;
		    float: none;
		    width: 90%;
		    height: inherit;
		    margin: 0 auto 20px;
    }

    .finished__title h2{
      font-size: 50px;
    }
    .block{
        width: 90%;
        margin: 0 auto;
    }
    .block2{
        width: 80%;
        margin-left: 15%;
        margin-right: 5%;
    }

    .header{
        display: none !important;
    }

    
    .tabs{
        width: 90%;
        margin: 35px auto 0;
    }
    .tabs2{
        width: 90%;
        margin: 35px auto 0;
    }
    .tabs .tab-label{
	    writing-mode: horizontal-tb;
	    height: inherit;
	    padding: 5px 20px;
	    border-radius: 7px 7px 0 0;
	    right: inherit;
	    top: -25px;
	    left: 0;
	    font-size: 13px;
    }
    .tabs2 .tab2-label{
	    writing-mode: horizontal-tb;
	    height: inherit;
	    padding: 5px 20px;
	    border-radius: 7px 7px 0 0;
	    right: inherit;
	    top: -25px;
	    left: 90px;
	    font-size: 13px;
    }
    .tabs .tab-label.tab2{
	    left: 80px;
    }
    .tabs2 .tab2-label.tab2{
	    left: 160px;
    }
    .space__slider_pic{
	    height: 220px; 
    }
    .well{
      top:-10px;
      right: -10px;
    }
    .kikka{
      top:-10px;
      right: -10px;
    }
    .cafe__contents{
        width: 90%;
        margin: 0 auto;
    }
    #nav-open{
        display: inline-block;
    }
    .footer__left{
        font-size: 12px;
    }
/*
    .footer__right img{
        height: 50px;
    }
*/
    .top__main_title{
	   	font-size: 50px; 
    }
}

