<!DOCTYPE HTML>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="../css/seven.css" rel="stylesheet">
<link href="../css/reset.css" rel="stylesheet">
<link href="../css/itiran.css" rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
<link rel="stylesheet" type="text/css" href="../slick/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="../slick/slick/slick-theme.css"/>
<link href="https://fonts.googleapis.com/css?family=Rasa:400,700" rel="stylesheet">
<script type="text/javascript" src="../slick/slick/slick.min.js"></script>
<script src="../jquery.rotate-master/jquery.rotate.js"></script>
<script src="../js/seven.js"></script>
<script>



</script>
</head>
<div class="all">
  <div id="nav-drawer">
      <input id="nav-input" type="checkbox" class="nav-unshown">
      <label id="nav-open" for="nav-input"><span></span></label>
      <label class="nav-unshown" id="nav-close" for="nav-input"></label>
      <div id="nav-content">

        <h2>SEVEN PLACE</h2>
        <ul>
           <li class="back1"><a href="../seven.html">TOP</a></li>
            <li class="back1"><a href="event.html">EVENT</a></li>
             <li><a href="finished.html">FINISHED EVENT</a></li>
            <li class="back1"><a href="space.html">SPACE</a></li>
            <li class="back1"><a href="system.html">SYSTEM</a></li>
            <li class="back1"><a href="cafe.html">CAFE</a></li>
            <li class="back1"><a href="access.html">ACCESS</a></li>
            <a href=""><li class="back2" >CONTACT</li></a>
        </ul>
      </div>
  </div>


    <div class="header">
        <ul>
           <li class="back1"><a href="../seven.html">TOP</a></li>
            <li class="back1"><a href="event.html">EVENT</a></li>
            <li class="back1"><a href="space.html">SPACE</a></li>
            <li class="back1"><a href="system.html">SYSTEM</a></li>
            <li class="back1"><a href="cafe.html">CAFE</a></li>
            <li class="back1"><a href="access.html">ACCESS</a></li>
            <a href=""><li class="back2" >CONTACT</li></a>
        </ul>
    </div><!--header-->




    <div id="top" style="background: url(../img/sample_pic.jpg) center center no-repeat;background-size: cover;">	
				<div class="top__main">
					<h1 class="top__main_title">SPACE</h1>	
	        <div class="top__logo">
	          <a href=""><img src="../img/logo_kikka.png"></a>
	          <a href=""><img src="../img/logo_well.png"></a>
	        </div><!--top__logo-->
				</div>
        <div class="menu">
            <ul>
                <li><a href="../seven.html">TOP</a></li>
                <li><a href="event.html">EVENT</a></li>
                <li><a href="finished.html">FINISHED EVENT</a></li>
                <li><a href="space.html">SPACE</a></li>
                <li><a href="system.html">SYSTEM</a></li>
                <li><a href="cafe.html">CAFE</a></li>
                <li><a href="access.html">ACCESS</a></li>
                <li class="header__contact"><a href="">CONTACT</a></li>
        </div><!--menu-->
    </div><!--top-->



		<div id="space" class="clearfix">
        <div class="h2__title">
            <h2>SPACE</h2>
        </div><!--h2__title-->
        <div class="tabs">
            <input id="tab-1" type="radio" name="tab-radio" checked>
            <label class="tab-label" for="tab-1">well</label>
            <input id="tab-2" type="radio" name="tab-radio">
            <label class="tab-label tab2" for="tab-2">kikka</label> 
            <div class="tab-content tab-1-content">
                <ul class="space__slider">
	                <li>
	                	<div class="space__slider_pic" style="background: url(../img/space_photo.jpg) center center no-repeat;background-size: cover;"></div>
	                </li>
	                <li>
	                	<div class="space__slider_pic" style="background: url(../img/space_photo.jpg) center center no-repeat;background-size: cover;"></div>
	                </li>
	                <li>
	                	<div class="space__slider_pic" style="background: url(../img/space_photo.jpg) center center no-repeat;background-size: cover;"></div>
	                </li>
                </ul><!--space__slider-->
                <div class="flex">
                    <div class="space__left">
                        <h3>浅草駅徒歩2分<br>
                        実質￥0円のレンタルスペース</h3>
                        <div class="space__left__content1">
                            <p>1階のカフェwellが18:00からは￥0のレンタルスペースに早変わり。この場所で行われるイベントの共通テーマは「JOY」。パーティ・パフォーマンス・Eスポーツなど様々なシーンでご利用いただける実質￥0のレンタルスペースです。
                            </p>
                        </div><!--space__left__content1-->
                        <div class="space__left__content2">
                            <h4>設備</h4>
                            <ul>
                                <li>プロジェクター</li>
                                <li>ワイヤレスマイク</li>
                                <li>スピーカー</li>
                                <li>ブランケット</li>
                                <li>Free　Wifi</li>
                                <li>コンセント</li>
                                <li>キッチン</li>
                                <li>ドリンカー</li>
                                <li>カトラリー</li>
                            </ul>
                        </div><!--space__left__content2-->
                    </div><!--spsce__left-->
                    <div class="space__right">
                        <img src="../img/floor_well.png" alt="">
                    </div><!--space__right-->
                </div><!--flex-->
            </div>
            <div class="tab-content tab-2-content">
                <ul class="space__slider2">
	                <li>
	                	<div class="space__slider_pic" style="background: url(../img/1.jpg) center center no-repeat;background-size: cover;"></div>
	                </li>
	                <li>
                		<div class="space__slider_pic" style="background: url(../img/1.jpg) center center no-repeat;background-size: cover;"></div>
	                </li>
	                <li>
                		<div class="space__slider_pic" style="background: url(../img/1.jpg) center center no-repeat;background-size: cover;"></div>
	                </li>
                </ul><!--space__slider-->
                <div class="flex">
                    <div class="space__left">
                        <h3>浅草駅徒歩2分<br>
                            実質￥0円のレンタルスペース</h3>
                        <div class="space__left__content1">
                            <p>1階のカフェwellが18:00からは￥0のレンタルスペースに早変わり。この場所で行われるイベントの共通テーマは「JOY」。パーティ・パフォーマンス・Eスポーツなど様々なシーンでご利用いただける実質￥0のレンタルスペースです。
                            </p>
                        </div><!--space__left__content1-->
                        <div class="space__left__content2">
                            <h4>設備</h4>
                            <ul>
                                <li>プロジェクター</li>
                                <li>ワイヤレスマイク</li>
                                <li>スピーカー</li>
                                <li>ブランケット</li>
                                <li>Free　Wifi</li>
                                <li>コンセント</li>
                                <li>キッチン</li>
                                <li>ドリンカー</li>
                                <li>カトラリー</li>
                            </ul>
                        </div><!--space__left__content2-->
                    </div><!--spsce__left-->
                    <div class="space__right">
                        <img src="../img/floor_well.png" alt="">
                    </div><!--space__right-->
                </div><!--flex-->
            </div>
        </div>
    </div><!--space-->

    <div class="footer">
        <div class="footer__left">
            <p>SEVEN GAEDEN.All Rights Rserved</p>
        </div><!--footer__left-->
        <div class="footer__right">
            <a href=""><img src="../img/logo_well.png"></a>
            <a href=""><img src="../img/logo_kikka.png"></a>
        </div><!--footer__right-->
    </div><!--footer-->
</div><!--all-->
</body>
</html>